@import "tailwindcss";
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  padding: 1rem;
  background-color: #282c34;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

nav button {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
}

form input,
form select,
form button {
  margin: 0.5rem 0;
  padding: 0.3rem;
  font-size: 1rem;
  display: block;
  width: 200px;
}
